main.view {
  min-height: initial;
  padding: 0;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

main.view header {
  padding: 0 1rem;

  & h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

main.view:has(.BooksPreview-scroll:empty) {
  & .BooksPreview-scroll {
    padding: 0;
  }
  & header {
    display: none;
  }
}

.app-cta {
  margin-top: auto;
  padding: 1rem;
}

/**
 * Home view
 */
main.view#home-view {
  position: relative;
  z-index: 1;

  &::before {
    pointer-events: none;
    z-index: 1;
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
      circle at 25% 0%,
      hsl(0deg 0% 100% / 16%),
      hsl(360deg 100% 0% / 0%),
      hsl(360deg 100% 0% / 0%)
    );
  }
}

#book-view button.home-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 300;
}
