.button {
  border-radius: 9999rem;
  border: 0px solid var(--bg);
  padding: 0 1.5em;
  height: 3.5rem;
  font: 700 1rem/1 var(--font-family-body);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: var(--accent);
  color: var(--accent-text);
  cursor: pointer;
  transition: all 0.15s var(--ease-out-sine);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;

  & * {
    pointer-events: none;
  }
}

.button.loading {
  font-size: 0;
  pointer-events: none;

  & svg {
    position: absolute;
    opacity: 0;
  }
}

.button.loading::after {
  content: "";
  padding: 0;
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border: 8px solid currentColor;
  border-bottom-color: transparent;
  border-radius: 1rem;
  animation: spinner 0.6s linear infinite;
  transform-origin: center;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.button:hover {
  border-color: var(--accent);
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button[type="submit"] {
  min-width: 90px;
  align-self: flex-end;
  background: var(--text);
}

.button[data-variant="icon"] {
  padding: 0;
  line-height: 3rem;
  width: 2.5rem;
  height: 2.5rem;
  background: var(--accent2);
  color: var(--accent-text);

  & svg {
    stroke: currentColor;
    stroke-width: 2;
    width: 0.75rem;
    height: 0.75rem;
  }
}
