* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: hsl(110deg 100% 40%/16%);
}

html,
body {
  scrollbar-gutter: stable;
  scrollbar-width: none;
  background: var(--bg);
  color: var(--text);
  color-scheme: light dark;
  min-height: 100svh;
  margin: 0;
  font-weight: 400;
  font-family: var(--font-family-body);
  font-synthesis: none;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  min-height: inherit;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--bg);
  color: var(--text);
  min-height: inherit;
}

main {
  width: 100vw;
  overflow: hidden;
}

h1 {
  font: 400 3rem/1.5 var(--font-family-heading);
  padding: 1.5rem;
  max-width: 768px;
  margin: 0 auto;
}

h2 {
  font: 400 3rem/1.5 var(--font-family-heading);
  padding: 1.5rem 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: var(--accent);
}

/**
 * Horizontal Scroll
 */

.h-scroll {
  display: flex;
  flex-direction: row;
  overflow: scroll hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none;
  scroll-padding: 0;
  padding: 0;
  margin: 0;
  list-style: none;

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  & .h-scroll-section {
    width: 100vw;
    min-width: 100vw;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0.25rem;
  height: 100%;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg);
  border-radius: 0.25rem;
  border-left: 1.5px solid transparent;
  border-right: 1.5px solid transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  background: var(--bg2);
  background-clip: content-box;
  border-radius: 0.25rem;
}

:focus-visible {
  outline-color: var(--accent);
  outline-style: solid;
  outline-offset: -1px;
}
