:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  min-height: inherit;
}

.app {
  padding: var(--size-gutter) var(--size-gutter) 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--theme-bg);
  color: var(--theme-text);
  min-height: inherit;
}

h1 {
  padding: 1.5rem;
  max-width: 768px;
  margin: 0 auto;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: var(--theme-bg);
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: 768px) {
    flex-direction: row;
    max-width: var(--size-maxw-medium);
  }
}

.root:has(.message) form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

button {
  border-radius: 8px;
  border: 1px solid var(--theme-bg);
  padding: 0 1.5em;
  height: 4rem;
  font-size: 1rem;
  font-family: var(--font-family-body);
  background: var(--theme-text);
  color: var(--theme-bg);
  cursor: pointer;
  transition: all 0.15s var(--ease-out-sine);
  display: flex;
  align-items: center;
  justify-content: center;
}

button.loading {
  font-size: 0;
  pointer-events: none;
}

button.loading::after {
  content: "";
  padding: 0;
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border: 8px solid var(--theme-bg2);
  border-bottom-color: transparent;
  border-radius: 1rem;
  animation: spinner 0.6s linear infinite;
  transform-origin: center;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

button:hover {
  border-color: var(--theme-accent);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button[type="submit"] {
  min-width: 90px;
  align-self: flex-end;
}

textarea {
  border: 1px solid var(--theme-border);
  padding: 1rem 1rem 0;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  background: inherit;
  min-height: 64px;
  flex: 1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: var(--theme-accent);
}

.message {
  width: 100%;
  max-width: 768px;
  padding: 1rem;
  margin: 0 auto;

  & h2 {
    margin-top: 0;
  }
}

.message.user {
  border-radius: 1rem;
  background: var(--theme-bg1);

  & .content {
    margin: 0;
    font: inherit;
    white-space: normal;
  }
}

.role {
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
  margin: 0 0 0.5rem;
}

.message.assistant .content {
  border: 1px dotted var(--theme-border);
  border-radius: 1rem;
  padding: 1rem;
  overflow: auto;
  margin: 0;

  & img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
  }
}

.message img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}
