:root {
  --accent: hsl(274deg 71% 50%);
  --accent2: hsl(274deg 71% 30%);
  --accent-text: hsl(274deg 50% 94%);
  --accent-text2: hsl(274deg 50% 60%);
  --bg: hsl(210deg 0% 100%);
  --bg1: hsl(210deg 16% 94%);
  --bg2: hsl(210deg 8% 88%);
  --bg3: hsl(210deg 8% 76%);
  --text: hsl(210deg 0% 0%);
  --text1: hsl(210deg 0% 40%);
  --text2: hsl(210deg 0% 70%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: hsl(274deg 71% 40%);
    --accent2: hsl(274deg 71% 20%);
    --accent-text: hsl(274deg 20% 100%);
    --accent-text2: hsl(274deg 51% 94%);
    --bg: hsl(210deg 22% 8%);
    --bg1: hsl(210deg 22% 12%);
    --bg2: hsl(210deg 22% 20%);
    --bg3: hsl(210deg 22% 28%);
    --text: hsl(210deg 0% 100%);
    --text1: hsl(210deg 0% 76%);
    --text2: hsl(210deg 0% 50%);
  }
}

/**
 * FONT-FAMILY "default" mode
 */
:root {
  --font-family-heading: "Nata Sans", "Playpen Sans", sans-serif;
  --font-family-body: "Nata Sans", "Playpen Sans", "Roboto", sans-serif;
}

/**
 * BREAKPOINT "default" mode
 */
:root {
  --breakpoint-media-1: 375px;
  --breakpoint-media-2: 540px;
  --breakpoint-media-3: 768px;
  --breakpoint-media-4: 1024px;
  --breakpoint-media-5: 1280px;
  --breakpoint-media-6: 1440px;
  --breakpoint-media-7: 1920px;
}

/**
 * RADIUS "default" mode
 */
:root {
  --radius-xxsmall: 2px;
  --radius-xsmall: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
}

/**
 * EASE "default" mode
 */
:root {
  --ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-cube: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-out-cube: cubic-bezier(0.215, 0.61, 0.355, 1);
}

/**
 * SIZE "small" mode
 */
:root,
[data-size="small"] {
  --size-maxw-xxxlarge: 1650px;
  --size-maxw-xxlarge: 1440px;
  --size-maxw-xlarge: 1280px;
  --size-maxw-large: 1024px;
  --size-maxw-medium: 768px;
  --size-maxw-small: 540px;
  --size-maxw-xsmall: 320px;
  --size-header-h: 80px;
  --size-section-spacer: 32px;
  --size-gutter: 16px;
  --size-heading-xlarge: 56px;
  --size-heading-large: 48px;
  --size-heading-medium: 40px;
  --size-heading-small: 28px;
  --size-heading-xsmall: 24px;
  --size-body-xlarge: 24px;
  --size-body-large: 18px;
  --size-body-medium: 16px;
  --size-body-small: 14px;
  --size-body-xsmall: 12px;
  --size-body-xxsmall: 10px;
  --size-input-h: 40px;
}

/**
 * SIZE "large" mode
 */
[data-size="large"] {
  --size-maxw-xxxlarge: 1650px;
  --size-maxw-xxlarge: 1440px;
  --size-maxw-xlarge: 1280px;
  --size-maxw-large: 1024px;
  --size-maxw-medium: 768px;
  --size-maxw-small: 540px;
  --size-maxw-xsmall: 320px;
  --size-header-h: 120px;
  --size-section-spacer: 80px;
  --size-gutter: 64px;
  --size-heading-xlarge: 96px;
  --size-heading-large: 56px;
  --size-heading-medium: 48px;
  --size-heading-small: 32px;
  --size-heading-xsmall: 24px;
  --size-body-xlarge: 24px;
  --size-body-large: 22px;
  --size-body-medium: 18px;
  --size-body-small: 14px;
  --size-body-xsmall: 12px;
  --size-body-xxsmall: 10px;
  --size-input-h: 52px;
}
