.book {
  --book-bg: var(--bg);
  --book-text: var(--text);

  height: 100svh;
  padding: 0;
  background: var(--book-bg);
  color: var(--book-text);
}

/**
 * Page
 */
.book .page {
  position: relative;
  min-width: 100vw;
  min-height: 100svh;
  overflow: hidden auto;
  /* scroll-snap-type: y proximity; */
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none;
  scroll-padding: 1.5rem 1rem 1rem;
  padding: 0;

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  & > * {
    scroll-snap-align: start;
  }

  & h1 {
    font-family: var(--font-family-body);
  }

  &.home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg);

    & p {
      margin: 0;
    }
  }

  &.last {
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    & h3 {
      color: var(--accent-text2);
      font-size: 14px;
    }

    & p {
      font-size: 1.5rem;
      margin: 0;
    }

    & .cta-new-book {
      margin-top: 1.5rem;
    }

    & form {
      margin-top: 1.5rem;
      padding: 0;
      background: none;

      & textarea {
        background: var(--bg1);
      }
    }
  }
}

/**
 * Content
 */
.page .content {
  margin: auto 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  padding: 0rem 1rem 6rem;
  z-index: 1;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  margin: 0 0 1rem;
  font: 400 1.5rem/1.75 var(--font-family-heading);
}

/**
 * Art section
 */
.book .page .art {
  position: relative;
  inset: 0;
  min-width: calc(100vw);
  width: calc(100vw);
  min-height: 70svh;
  height: 70svh;
  margin: 0 0 1.5rem;
  overflow: hidden;
  border-radius: 0;

  & .download {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: white;
    z-index: 300;
  }

  & img {
    width: 100%;
    height: 100%;
    display: block;
    object-position: 50% 0%;
    object-fit: cover;
  }
}

/**
 * CTA - Generate ImageProps
 */
.book .page .cta {
  z-index: 100;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  margin-bottom: 1.5rem;
  width: 100%;
  height: min-content;
  position: relative;
  height: 70svh;
  background: var(--bg1);

  & .button.generate-image {
    box-shadow: none;
    background: none;
    border: 1px solid var(--text);
    color: var(--text);
    border-radius: 1rem;
    width: 100%;
    gap: 1rem;

    & svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

/**
 * Nav
 */
.book-nav {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  pointer-events: none;

  & button {
    pointer-events: all;
    font-size: 0;
    border: none;
    padding: 0;
    background: transparent;
    width: 16vw;
    height: 100%;
  }
}

/**
 * Page Number
 */
.page .page-number {
  margin: 0;
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
  margin: auto;
  color: white;
  border-radius: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  font: 700 12px/1 var(--font-family-body);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: unset;
  transition: opacity 0.3s var(--ease-out-sine);
  opacity: 1;
  z-index: 100;
}
