.book {
  --book-bg: black;
  --book-text: #ccc;

  height: 100svh;
  padding: 0;
  background: var(--book-bg);
  color: var(--book-text);
}

.book .page {
  position: relative;
  min-width: 100vw;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.fact {
  padding: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  & .content {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
  }
}

.page .content {
  font: 400 1.25rem/1.75 var(--font-family-body);
  margin: 0;
  padding: 2.5rem 1.5rem 4.5rem;
  position: relative;
  z-index: 1;
}

.cover {
  padding: 2rem;
  text-wrap: balance;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.book .page .art {
  position: absolute;
  inset: 0;
  min-width: 100vw;
  width: 100%;
  min-height: 70svh;
  height: 70svh;
  margin: 0;

  &::before {
    content: "";
    background: linear-gradient(0deg, var(--book-bg) 0%, transparent 25%);
    position: absolute;
    inset: 0 0 -0.5rem 0;
  }
}

.book .page .art img {
  width: 100%;
  height: 100%;
  display: block;
  object-position: 50% 0%;
  object-fit: cover;
}

.book-nav {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  pointer-events: none;

  & button {
    pointer-events: all;
    font-size: 0;
    border: none;
    padding: 0;
    background: transparent;
    width: 16vw;
    height: 100%;
  }
}

.page-number {
  margin: 0;
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: var(--accent);
  color: var(--accent-text);
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  font: 700 16px/1 var(--font-family-body);
  z-index: 400;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
